
/*
 * Gradebook specific css
 */
 
/*.x-grid3-cell {
	border-right:1px solid #EDEDED;	
}*/

.x-grid3-hd-inner {
	cursor:inherit;
	font-size: 9pt !important;
	padding:4px 3px 4px 5px;
	position:relative;
}

.x-grid3-row td, .x-grid3-summary-row td {
	line-height:23px;
}

 
.x-grid3-cell-inner, .x-grid3-hd-inner {
	border-right: 2px solid #EEEEEE;
	/*border-left: 1px solid #EEEEEE;
	border-right: 1px solid #D0D0D0;*/
	overflow:hidden;
	padding:3px 5px 3px 5px;
	white-space:nowrap;
	font-size: 12pt;
}

.gbCellClickable {
	color: blue;	
	text-decoration: underline;
}

.gbCellDropped {
	color: red;
	text-decoration: line-through;
}

.gbCellCommented {
	background:transparent url(images/default/grid/commented.gif) no-repeat top right;
}

/*.x-grid3-dirty-cell{*/
.gbCellSucceeded {
	background:transparent url(images/default/grid/modified.gif) no-repeat 0 0;
}

.gbCellFailed {
	background:transparent url(images/default/grid/failed.gif) no-repeat 0 0;
}

.gbLog-col {
	width:100%;
	/*height:12px;
	background-position:top center;
	background-repeat:no-repeat;
	background-color:transparent;
	background-image:url(../library/image/silk/note_add.png);*/
}

.gbLog-col-on {
	width:100%;
	/*height:12px;*/
	background-position:top center;
	background-repeat:no-repeat;
	background-color:transparent;
	background-image:url(images/default/grid/table_multiple.png);
	padding: 0px;	
}

.gbTextFieldInput {
	font-size: 12pt !important;
	height: 30px !important;
	padding-top: 4px !important;
	text-align: left;
}

.gbTextAreaInput {
	font-size: 12pt !important;
	padding-top: 4px !important;
	text-align: left;
}

.gbNumericFieldInput {
	font-size: 12pt !important;
	height: 30px !important;
	padding-left: 3px !important;
	padding-top: 4px !important;
	text-align: right;
}

.gbHeader {
	font-size: 14pt;
	font-weight: bold;
	padding-bottom: 10px;	
}

.gbImpact {
	color: darkgray;
	font-weight: bold;
	width: 200px;
}

.gbUneditable {
	color: darkgray;	
}

.gbStudentInformation {
	font-size: 12pt;
	padding: 10 10 15 10;
}

.grid-show-columns {
	background-image:url(images/default/grid/table_row_insert.png);
}

.grid-hide-columns {
	background-image:url(images/default/grid/table_row_delete.png);
}


