/*
 * Gradebook specific css
 */

#cardLayoutContainer {
	z-index: 5;
}
 
#loading a {
  color: #225588;
}

#loading .loading-indicator {
  background: white;
  color: #444;
  font: bold 13px tahoma, arial, helvetica;
  padding: 10px;
  margin: 0;
  height: auto;
}

#loading .loading-indicator img {
  margin-right:8px;
  float:left;
  vertical-align:top;
}

#loading-msg {
  font: normal 10px arial, tahoma, sans-serif;
}

#multigrade {
	z-index: 1;	
}

.my-treetbl {
	border:0 solid #C6C5C5;
}

.my-treeitem, .my-treeitem table, .my-treeitem table td {
	-moz-user-focus:normal;
	font-size:12pt;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:medium;
}

.my-treetbl-data .my-treetbl-cell-text {
	font-family:arial,tahoma,helvetica,sans-serif;
	font-size:12pt;
	padding:1px 4px;
}

.my-treetbl-item {
	-moz-user-focus:normal;
	border-bottom:1px solid white;
	border-top:1px solid white;
	cursor:default;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:medium;
}

.my-tree-item-text span {
	cursor:pointer;
	display:block;
	font-family:arial,tahoma,helvetica,sans-serif;
	font-size:12pt;
	height: 1.2em; /*15px;*/
	padding-left:3px;
	padding-right:3px;
	white-space:nowrap;
}

.my-treetbl-item-text span {
	cursor:pointer;
	display:block;
	font-family:arial,tahoma,helvetica,sans-serif;
	font-size:12pt;
	height: 1.2em; /*15px;*/
	padding-left:3px;
	padding-right:3px;
	white-space:nowrap;
}

.x-btn button {
	-x-system-font:none;
	background:transparent none repeat scroll 0 0;
	border:0 none;
	cursor:pointer;
	font-family:tahoma,verdana,helvetica;
	font-size:10pt;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
	margin:0;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:0;
	overflow:visible;
	padding-left:3px;
	padding-right:3px;
	width:auto;
}

.x-form-focus,textarea.x-form-focus {
	border:2px solid #7eadd9;
}

.x-form-item {
	font-family:tahoma,arial,helvetica,sans-serif;
	font-size:12pt;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
}

.x-grid3-hd-inner {
	cursor:inherit;
	font-size: 9pt !important;
	padding:4px 3px 4px 5px;
	position:relative;
}

.x-grid3-row td, .x-grid3-summary-row td {
	line-height: 1.5em; /*23px;*/
}

 
.x-grid3-cell-inner, .x-grid3-hd-inner {
	border-right: 2px solid #EEEEEE;
	/*border-left: 1px solid #EEEEEE;
	border-right: 1px solid #D0D0D0;*/
	overflow:hidden;
	padding:3px 5px 3px 5px;
	white-space:nowrap;
	font-size: 12pt;
}

.x-menu-sep {
	border-bottom:1px solid #E0E0E0;
	display:block;
	font-size:1px;
	line-height:1px;
	margin:0 25px 3px;
	overflow:hidden;
}

.x-panel-mc {
	font-family:tahoma,arial,helvetica,sans-serif;
	font-size:12pt;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
}


.gbCellClickable {
	color: blue;	
	text-decoration: underline;
}

.gbCellDropped {
	color: red;
	text-decoration: line-through;
}

.gbCellClickable {
	color: blue;
	cursor: pointer !important;
}

.gbCellError {
	color: red;	
}

.gbCellStrong {
	font-weight: bold;	
}

.gbNotIncluded {
	color: darkgray;
	font-style: italic;	
}

.gbReleased {
	color: blue;
	font-weight: bold;	
}

.gbCellExtraCredit {
	color: green;	
}

.gbCellCommented {
	background:transparent url(images/default/grid/commented.gif) no-repeat top right;
}

/*.x-grid3-dirty-cell{*/
.gbCellSucceeded {
	background:transparent url(images/default/grid/modified.gif) no-repeat 0 0;
}

.gbCellFailed {
	background:transparent url(images/default/grid/failed.gif) no-repeat 0 0;
}

.gbLog-col {
	width:100%;
	/*height:12px;
	background-position:top center;
	background-repeat:no-repeat;
	background-color:transparent;
	background-image:url(../library/image/silk/note_add.png);*/
}

.gbLog-col-on {
	width:100%;
	/*height:12px;*/
	background-position:top center;
	background-repeat:no-repeat;
	background-color:transparent;
	background-image:url(images/default/grid/table_multiple.png);
	padding: 0px;	
}

.gbTextFieldInput {
	font-size: 12pt !important;
	height: 1.8em !important;
	padding-top: 4px !important;
	text-align: left;
}

.gbTextAreaInput {
	font-size: 12pt !important;
	padding-top: 4px !important;
	text-align: left;
}

.gbNumericFieldInput {
	font-size: 12pt !important;
	height: 1.8em !important;
	padding-left: 3px !important;
	padding-top: 4px !important;
	text-align: right;
}

.gbHeader {
	color: black;
	font-size: 12pt;
	font-weight: bold;
	padding-bottom: 10px;	
}

.gbImpact {
	color: darkblue;
	font-weight: bold;
	width: 120px;
}

.gbWarning {
	color: red;
	font-weight: bold;
}

.gbRecordLabel {
	color: darkblue;
	font-weight: bold;
	padding-top: 10;
	width: 120px;	
}

.gbRecordField {
	padding: 10;
	vertical-align: top;	
}

.gbUneditable {
	color: darkgray;	
}

.gbScoreFormTable {
	font-size: 12pt;
	padding: 5;	
}

.gbStudentInformation {
	font-size: 12pt;
	padding: 10 10 15 10;
}

.gbHelpPanel {
	background-color: lightyellow;
	height: 100%;
	/*padding: 10px;*/
	width: 100%;	
}

.gbNotificationPanel {
	background-color: lightyellow;
	margin: 4px;
	text-align: center;
}

.gbAddCommentButton {
	background-image:url(images/default/button/comment_add.png);
	border: 1px solid transparent;
	height: 14px;
	margin-top: 0px;
	margin-bottom: 10px;		
}

.gbAddCommentButton-over {
	background-image:url(images/default/button/comment_edit.png);
	border: 1px solid transparent;
	height: 14px;
	margin-top: 0px;
	margin-bottom: 10px;		
}

.gbAttrIcon {
	background-image:url(images/default/button/vcard.png);	
}

.gbAttrLeafIcon {
	background-image:url(images/default/button/tag_blue.png);	
}

.gbGradeOverrideIcon {
	background-image:url(images/default/button/textfield.png);
}

.gbGradebookIcon {
	background-image:url(images/default/button/book_open.png);
}

.gbGradebookIcon tree-folder-open {
	background-image:url(images/default/button/book_open.png);
}

.gbItemIcon {
	background-image:url(images/default/button/table.png);	
}

.gbAddCategoryIcon {
	background-image:url(images/default/button/folder_add.png);	
}

.gbAddItemIcon {
	background-image:url(images/default/button/table_add.png);	
}

.gbDeleteCategoryIcon {
	background-image:url(images/default/button/folder_delete.png);	
}

.gbDeleteItemIcon {
	background-image:url(images/default/button/table_delete.png);	
}

.gbEditCategoryIcon {
	background-image:url(images/default/button/folder_edit.png);	
}

.gbEditItemIcon {
	background-image:url(images/default/button/table_edit.png);
}

.gbExportItemIcon {
	background-image:url(images/default/button/page_white_put.png);
}

.gbImportItemIcon {
	background-image:url(images/default/button/page_white_get.png);
}

.gbColumnButton {
	background-image:url(images/default/button/text_columns.png);	
}

.gbCommentButton {
	background-image:url(images/default/button/comment.png);
	border: 1px solid transparent;
	height: 14px;
	margin-top: 0px;
	margin-bottom: 10px;		
}

.gbCommentButton-over {
	background-image:url(images/default/button/comment_edit.png);
	border: 1px solid transparent;
	height: 14px;
	margin-top: 0px;
	margin-bottom: 10px;		
}

.gbGradeScaleButton {
	background-image:url(images/default/button/calculator_edit.png);	
}

.gbHistoryButton {
	background-image:url(images/default/button/calendar.png);
}

.grid-show-columns {
	background-image:url(images/default/grid/table_row_insert.png);
}

.grid-hide-columns {
	background-image:url(images/default/grid/table_row_delete.png);
}


