<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	<!-- Default page to serve -->
  	<welcome-file-list>
    	<welcome-file>GradebookApplication.html</welcome-file>
  	</welcome-file-list>

	<servlet>
		<servlet-name>facade</servlet-name>
		<servlet-class>org.sakaiproject.gradebook.gwt.sakai.mock.GradebookToolFacadeMockImpl</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>facade</servlet-name>
		<url-pattern>/gradebook/rpc/grades.rpc</url-pattern>
	</servlet-mapping>

</web-app>
