<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="placeholderConfig" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">  
		<property name="location">
			<value>classpath:gradebook2.properties</value>
		</property>
		<property name="properties">  
    		<props>  
       			<prop key="org.sakaiproject.gradebook.gwt.sakai.api.AccessAdvisor">org.sakaiproject.gradebook.gwt.sakai.api.AccessAdvisor</prop>  
       			<prop key="org.sakaiproject.gradebook.gwt.sakai.api.ExportAdvisor">org.sakaiproject.gradebook.gwt.sakai.api.ExportAdvisor</prop>
    		</props>  
		</property>
	</bean>
	
	
	<!-- AOP: Interceptors for performance analysis 
	<bean id="org.sakaiproject.gradebook.gwt.sakai.GradebookToolService"
		class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>org.sakaiproject.gradebook.gwt.sakai.GradebookToolService</value>
		</property>
		<property name="target">
			<ref bean="org.sakaiproject.gradebook.gwt.sakai.GradebookToolServiceTarget" />
		</property>
		<property name="interceptorNames">
			<list>
				<value>org.sakaiproject.gradebook.gwt.sakai.aop.GradebookToolServiceAroundAdvisor</value>
			</list>
		</property>
	</bean>
	<bean id="org.sakaiproject.gradebook.gwt.sakai.DelegateFacade"
		class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>org.sakaiproject.gradebook.gwt.client.GradebookToolFacade</value>
		</property>
		<property name="target">
			<ref bean="org.sakaiproject.gradebook.gwt.sakai.DelegateFacadeTarget" />
		</property>
		<property name="interceptorNames">
			<list>
				<value>org.sakaiproject.gradebook.gwt.sakai.aop.GradebookToolFacadeAroundAdvisor</value>
			</list>
		</property>
	</bean>
	
	<bean id="org.sakaiproject.gradebook.gwt.sakai.aop.GradebookToolServiceAroundAdvisor"
		class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
		<property name="advice">
			<ref bean="org.sakaiproject.gradebook.gwt.sakai.aop.GradebookToolServiceAroundAdvice" />
		</property>
    	<property name="patterns">
        <list>
            <value>.*</value>
        </list>
    </property>
	</bean>
	<bean id="org.sakaiproject.gradebook.gwt.sakai.aop.GradebookToolFacadeAroundAdvisor"
		class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
		<property name="advice">
			<ref bean="org.sakaiproject.gradebook.gwt.sakai.aop.GradebookToolFacadeAroundAdvice" />
		</property>
    	<property name="patterns">
        <list>
            <value>.*</value>
        </list>
    </property>
	</bean>
	
	<bean id="org.sakaiproject.gradebook.gwt.sakai.aop.GradebookToolServiceAroundAdvice"
		class="org.sakaiproject.gradebook.gwt.sakai.aop.GradebookToolServiceAroundAdvice">
	</bean>	
	<bean id="org.sakaiproject.gradebook.gwt.sakai.aop.GradebookToolFacadeAroundAdvice"
		class="org.sakaiproject.gradebook.gwt.sakai.aop.GradebookToolFacadeAroundAdvice">
	</bean>
	-->

	<!-- Hibernate Mappings -->
	<bean id="org.sakaiproject.gradebook.gwt.sakai.model.hibernateMappings"
		class="org.sakaiproject.springframework.orm.hibernate.impl.AdditionalHibernateMappingsImpl">
		<property name="mappingResources">
			<list>
				<value>org/sakaiproject/gradebook/gwt/sakai/model/ActionRecord.hbm.xml</value>
				<value>org/sakaiproject/gradebook/gwt/sakai/model/Realm.hbm.xml</value>
				<value>org/sakaiproject/gradebook/gwt/sakai/model/RealmGroup.hbm.xml</value>
			</list>
		</property>
	</bean>
	
	<!--
	Sample Access Advisor
	-->	
	<bean id="org.sakaiproject.gradebook.gwt.sakai.api.AccessAdvisor" class="org.sakaiproject.gradebook.gwt.sakai.SampleAccessAdvisor">
	</bean>
	
	<!--
	
	GRBK-37 : Sample Export Advisor 
	The Export Advisor is configured via the gradebook2.properties file.
	The gradebook2.properties file sets the "org.sakaiproject.gradebook.gwt.sakai.api.ExportAdvisor" property
	which then is injected vi Spring's Property Placeholder Configuration mechanism
	-->
	<bean id="org.sakaiproject.gradebook.gwt.sakai.api.ExportAdvisor" class="org.sakaiproject.gradebook.gwt.sakai.SampleExportAdvisor">
	</bean>

	
	<bean id="org.sakaiproject.gradebook.gwt.sakai.GradeCalculations"
		class="org.sakaiproject.gradebook.gwt.sakai.GradeCalculationsImpl">
		
	</bean>

	<bean id="org.sakaiproject.gradebook.gwt.sakai.DelegateFacadeTarget" class="org.sakaiproject.gradebook.gwt.sakai.DelegateFacadeImpl">
		<property name="sectionAwareness" ref="org.sakaiproject.section.api.SectionAwareness"/>
		<property name="gbService" ref="org.sakaiproject.gradebook.gwt.sakai.GradebookToolService"/> 
		<property name="authn" ref="org_sakaiproject_tool_gradebook_facades_Authn"/>
		<property name="authz" ref="org_sakaiproject_tool_gradebook_facades_Authz"/>
		<property name="toolManager" ref="org.sakaiproject.tool.api.ToolManager"/>
		<property name="userService" ref="org.sakaiproject.user.api.UserDirectoryService"/>
		<property name="gradeCalculations" ref="org.sakaiproject.gradebook.gwt.sakai.GradeCalculations"/>
		<property name="frameworkService" ref="org.sakaiproject.service.gradebook.GradebookFrameworkService" />
		<property name="siteService" ref="org.sakaiproject.site.api.SiteService"/>
		<property name="accessAdvisor" ref="${org.sakaiproject.gradebook.gwt.sakai.api.AccessAdvisor}"/>
		<property name="exportAdvisor" ref="${org.sakaiproject.gradebook.gwt.sakai.api.ExportAdvisor}"/>
	</bean>
			
	<!-- Declare service -->
	<bean id="GradebookService" class="org.sakaiproject.gradebook.gwt.sakai.GradebookToolFacadeImpl">
		<property name="delegateFacade" ref="org.sakaiproject.gradebook.gwt.sakai.DelegateFacade"/>
	</bean>

	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>

	<bean id="GradebookExportService" class="org.sakaiproject.gradebook.gwt.sakai.GradebookExportController">
		<property name="delegateFacade" ref="org.sakaiproject.gradebook.gwt.sakai.DelegateFacade"/>
	</bean>
	
	<bean id="GradebookFinalGradeSubmissionService" class="org.sakaiproject.gradebook.gwt.sakai.GradebookFinalGradeSubmissionController">
		<property name="delegateFacade" ref="org.sakaiproject.gradebook.gwt.sakai.DelegateFacade"/>
		<property name="exportAdvisor" ref="${org.sakaiproject.gradebook.gwt.sakai.api.ExportAdvisor}"/>
	</bean>
	
	<bean id="GradebookImportService" class="org.sakaiproject.gradebook.gwt.sakai.GradebookImportController">
		<property name="delegateFacade" ref="org.sakaiproject.gradebook.gwt.sakai.DelegateFacade"/>
		<property name="userService" ref="org.sakaiproject.user.api.UserDirectoryService"/>
		<property name="commandClass" value="org.sakaiproject.gradebook.gwt.sakai.FileUploadBean"/>
        <!--property name="formView" value="fileuploadform"/>
        <property name="successView" value="confirmation"/-->
	</bean>

	
	<!-- Gradebook Manager -->
	<bean id="org.sakaiproject.gradebook.gwt.sakai.GradebookToolServiceTarget" parent="alt.gradebookTxTemplate">
		<property name="target">
			<bean class="org.sakaiproject.gradebook.gwt.sakai.hibernate.GradebookToolServiceImpl">
				<property name="sessionFactory"><ref bean="alt.gradebookSessionFactory"/></property>
				<property name="sectionAwareness">
					<ref bean="org.sakaiproject.section.api.SectionAwareness" />
				</property>
				<property name="authn">
					<ref bean="org_sakaiproject_tool_gradebook_facades_Authn" />
				</property>
                <property name="eventTrackingService">
                    <ref bean="org_sakaiproject_tool_gradebook_facades_EventTrackingService"/>
                </property>
            </bean>
		</property>
	</bean>
	

	<bean id="alt.gradebookTxTemplate" lazy-init="true" abstract="true" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager"><ref bean="alt.gradebookTransactionManager"/></property>
		<property name="transactionAttributes">
			<props>
	            <prop key="is*">PROPAGATION_REQUIRED,readOnly,+org.sakaiproject.service.gradebook.shared.GradebookException</prop>
	            <prop key="get*">PROPAGATION_REQUIRED,readOnly,+org.sakaiproject.service.gradebook.shared.GradebookException</prop>
	            <prop key="*">PROPAGATION_REQUIRED,+org.sakaiproject.service.gradebook.shared.GradebookException</prop>
			</props>
		</property>
	</bean>

	<bean id="alt.gradebookTransactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory"><ref bean="alt.gradebookSessionFactory"/></property>
	</bean>
	
	<!-- An application consumer without a component. -->
	<bean id="alt.gradebookSessionFactory" parent="org.sakaiproject.springframework.orm.hibernate.SessionFactoryBase"
		class="org.sakaiproject.springframework.orm.hibernate.AddableSessionFactoryBean">
		<property name="mappingResources">
		    <list>
  				<value>org/sakaiproject/tool/gradebook/Gradebook.hbm.xml</value>
	  			<value>org/sakaiproject/tool/gradebook/GradableObject.hbm.xml</value>
		  		<value>org/sakaiproject/tool/gradebook/GradeRecord.hbm.xml</value>
			  	<value>org/sakaiproject/tool/gradebook/GradingEvent.hbm.xml</value>
				  <value>org/sakaiproject/tool/gradebook/GradingScale.hbm.xml</value>
  				<value>org/sakaiproject/tool/gradebook/GradebookProperty.hbm.xml</value>
	  			<value>org/sakaiproject/tool/gradebook/GradeMapping.hbm.xml</value>
          <value>org/sakaiproject/tool/gradebook/Spreadsheet.hbm.xml</value>                
          <value>org/sakaiproject/tool/gradebook/Comment.hbm.xml</value>   
          <value>org/sakaiproject/tool/gradebook/Category.hbm.xml</value>
          <value>org/sakaiproject/tool/gradebook/LetterGradePercenteMapping.hbm.xml</value>
          <value>org/sakaiproject/tool/gradebook/Permission.hbm.xml</value>
        </list>
		</property>
	</bean>
	
	<!-- External Context Management Service -->
	<!--bean id="org.sakaiproject.tool.gradebook.facades.ContextManagement"
		class="org.sakaiproject.tool.gradebook.facades.sakai2impl.ContextManagementSakai2Impl">
	</bean-->

</beans>