<?xml version="1.0"?>
<web-app id="WebApp_9" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>sakai-gradebook-gwt</display-name>
	<description>Sakai Gradebook GWT Tool</description>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>WEB-INF/applicationContext.xml</param-value>
	</context-param>

	<!--listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener-->

	<!-- Use the Sakai Spring application context wrapper to reach components. -->
    <listener>
        <listener-class>org.sakaiproject.util.ContextLoaderListener</listener-class>
    </listener>
    
    <listener>
        <listener-class>org.sakaiproject.util.ToolListener</listener-class>
    </listener>

	
	<!--  Sakai filter -->
    <filter>
        <filter-name>sakai.request</filter-name>
        <filter-class>org.sakaiproject.util.RequestFilter</filter-class>
         <init-param>
        	<param-name>upload.enabled</param-name>
        	<param-value>false</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>sakai.request</filter-name>
        <servlet-name>sakai.gradebook.gwt.rpc</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>


	<!-- Open session in view filter -->
	<!-- Speeds up CM access for users with roles in many sites (when using the CM RI) -->
	<filter>
		<filter-name>hibernateFilter</filter-name>
		<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
		<init-param>
			<param-name>singleSession</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>sessionFactoryBeanName</param-name>
			<param-value>edu.ucdavis.sakai.external.GlobalSessionFactory</param-value>
		</init-param>
	</filter>


	<servlet>
		<servlet-name>sakai.gradebook.gwt.rpc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>sakai.gradebook.gwt.rpc</servlet-name>
		<url-pattern>/*</url-pattern>
		<!--url-pattern>/org.sakaiproject.gradebook.gwt.GradebookApplication/rpc/*</url-pattern-->
	</servlet-mapping>

	<filter-mapping>
		<filter-name>hibernateFilter</filter-name>
		<servlet-name>sakai.gradebook.gwt.rpc</servlet-name>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<servlet>
		<servlet-name>sakai.gradebook.gwt</servlet-name>
		<servlet-class>
			org.sakaiproject.gradebook.gwt.server.GradebookServlet
		</servlet-class>
		<init-param>
			<param-name>defaultPage</param-name>
			<param-value>GradebookApplication.html</param-value>
		</init-param>
		<init-param>
			<param-name>relativePrefix</param-name>
			<param-value>/org.sakaiproject.gradebook.gwt.GradebookApplication/</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<!--servlet-mapping>
		<servlet-name>sakai.gradebook.gwt</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping-->
	
	<welcome-file-list><welcome-file>/org.sakaiproject.gradebook.gwt.GradebookApplicationFirefox/GradebookApplicationFirefox.html</welcome-file></welcome-file-list>
	
</web-app>
