<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!-- Performance analysis using AOP -->
	<!--import resource="performanceAnalysis.xml"/-->
	
	<!-- Normal injection of services w/o performance analysis -->
	<import resource="gbServices.xml" />
	
	<import resource="db.xml" />
		
	<import resource="rest.xml" />
	
	<bean id="org.sakaiproject.gradebook.gwt.server.WebAppToolServlet" class="org.sakaiproject.gradebook.gwt.server.WebAppToolServlet">
		<property name="sessionManager" ref="org.sakaiproject.tool.api.SessionManager" />
		<property name="rb" ref="gradebook2.I18N" />
	</bean>
	
	<bean id="org.sakaiproject.gradebook.gwt.sakai.BusinessLogic" class="org.sakaiproject.gradebook.gwt.sakai.BusinessLogicImpl">
		<property name="gbService" ref="org.sakaiproject.gradebook.gwt.sakai.GradebookToolService"/> 
		<property name="i18n" ref="gradebook2.I18N"/>
	</bean>
		
	<bean id="org.sakaiproject.gradebook.gwt.sakai.Gradebook2Authn" class="org.sakaiproject.gradebook.gwt.sakai.Gradebook2AuthnImpl">
	</bean>

	<bean id="org.sakaiproject.gradebook.gwt.sakai.Gradebook2Authz" class="org.sakaiproject.gradebook.gwt.sakai.Gradebook2AuthzImpl">
		<property name="authn" ref="org.sakaiproject.gradebook.gwt.sakai.Gradebook2Authn"/>
		<property name="sectionAwareness" ref="org.sakaiproject.section.api.SectionAwareness"/>
		<property name="gbToolService" ref="org.sakaiproject.gradebook.gwt.sakai.GradebookToolService"/>
		<property name="toolManager" ref="org.sakaiproject.tool.api.ToolManager"/>
		<property name="securityService" ref="org.sakaiproject.authz.api.SecurityService"/>
		<property name="siteService" ref="org.sakaiproject.site.api.SiteService"/>
	</bean>
	
	 <bean name="bean.Tika" class="org.apache.tika.Tika"/>


	<bean id="org.sakaiproject.gradebook.gwt.server.ImportExportUtility" class="org.sakaiproject.gradebook.gwt.server.ImportExportUtilityImpl" init-method="init">
		<property name="gradeCalculations" ref="org.sakaiproject.gradebook.gwt.sakai.GradeCalculations"/>
		<property name="scantronScoreHeader" value="score" />
		<property name="scantronRescoreHeader" value="test" />
		<property name="clickerStudentIdHeader" value="Student ID" />
		<property name="clickerIgnoreColumns">
			<list>
				<value>PRS Total</value>
				<value>First</value>
				<value>Name</value>
			</list>
		</property>
		<property name="scantronStudentIdHeader" value="student_id" />
		<property name="scantronIgnoreColumns">
			<list>
			  <value>last name</value>
			  <value>first name</value>
			  <value>initial</value>
			  <value>first_name</value>
			  <value>last_name</value>
			</list>
		</property>
		<property name="idColumns">
			<list>
				<value>student_id</value>
				<value>student id</value>
				<value>identifier</value>
				<value>userId</value>
				<value>learnerid</value>
				<value>id</value>
			</list>
		</property>
		<property name="nameColumns">
			<list>
				<value>student name</value>
				<value>name</value>
				<value>learner</value>
				<value>section</value>
			</list>
		</property>
		<property name="i18n" ref="gradebook2.I18N" />
		<property name="service" ref="org.sakaiproject.gradebook.gwt.sakai.Gradebook2ComponentService" />
		<property name="toolService" ref="org.sakaiproject.gradebook.gwt.sakai.GradebookToolService" />
		<property name="filetypeDetector" ref="bean.Tika" />
	</bean>


	<bean id="GradebookImportService" class="org.sakaiproject.gradebook.gwt.sakai.GradebookImportController">
		<property name="gbToolService" ref="org.sakaiproject.gradebook.gwt.sakai.GradebookToolService"/>
		<property name="service" ref="org.sakaiproject.gradebook.gwt.sakai.Gradebook2ComponentService"/>
		<property name="commandClass" value="org.sakaiproject.gradebook.gwt.sakai.FileUploadBean"/>
		<property name="importExportUtility" ref="org.sakaiproject.gradebook.gwt.server.ImportExportUtility"/>
		<property name="i18n" ref="gradebook2.I18N"/>
	</bean>
	
	
	<!--
	
	GRBK-37 : Sample Institutional Advisor 
	The Institutional Advisor is configured via the sakai.properties file.
	The sakai.properties file sets the "advisor@org.sakaiproject.gradebook.gwt.sakai.Gradebook2Service" property
	which then is injected via Sakai's bean configuration mechanism
	-->
	<bean id="org.sakaiproject.gradebook.gwt.sakai.api.SampleInstitutionalAdvisor" class="org.sakaiproject.gradebook.gwt.sakai.SampleInstitutionalAdvisor">
		<property name="toolManager" ref="org.sakaiproject.tool.api.ToolManager"/>
		<property name="siteService" ref="org.sakaiproject.site.api.SiteService"/>
		<property name="finalGradeSubmissionPath" value="/tmp"/>
	</bean>
	
	
	<bean id="org.sakaiproject.gradebook.gwt.sakai.GradeCalculations"
		class="org.sakaiproject.gradebook.gwt.sakai.calculations.GradeCalculationsImpl"
		init-method="init">
		
		<property name="letterGradeMap">
			<map>
			  	<entry><key><value>A+</value></key><value>98.3333333333</value></entry>
			  	<entry><key><value>A</value></key><value>95</value></entry>
			  	<entry><key><value>A-</value></key><value>91.6666666666</value></entry>
			  	<entry><key><value>B+</value></key><value>88.3333333333</value></entry>
			  	<entry><key><value>B</value></key><value>85</value></entry>
			  	<entry><key><value>B-</value></key><value>81.6666666666</value></entry>
			  	<entry><key><value>C+</value></key><value>78.3333333333</value></entry>
			  	<entry><key><value>C</value></key><value>75</value></entry>
			  	<entry><key><value>C-</value></key><value>71.6666666666</value></entry>
			  	<entry><key><value>D+</value></key><value>68.3333333333</value></entry>
			  	<entry><key><value>D</value></key><value>65</value></entry>
			  	<entry><key><value>D-</value></key><value>61.6666666666</value></entry>
			  	<entry><key><value>F</value></key><value>58.3333333333</value></entry>
				<entry><key><value>0</value></key><value>0</value></entry>
			</map>
		</property>
		<property name="scale" value="50"/>
		<!-- cache -->
		<property name="cache" ref="org.sakaiproject.gradebook.gwt.sakai.gradebookservice.cache" />
		<property name="configService" ref="org.sakaiproject.component.api.ServerConfigurationService" />
	</bean>

	
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>
	
</beans>
