<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_9" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>sakai-gradebook-gwt-rpc</display-name>
	<description>Sakai Gradebook GWT Tool</description>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>WEB-INF/applicationContext.xml</param-value>
	</context-param>

	<!-- Use the Sakai Spring application context wrapper to reach components. -->
    <listener>
        <listener-class>org.sakaiproject.util.ContextLoaderListener</listener-class>
    </listener>
    
    <listener>
        <listener-class>org.sakaiproject.util.ToolListener</listener-class>
    </listener>

	<!-- GRBK-202 -->
	<filter>
		<filter-name>gwt.security</filter-name>
		<filter-class>org.sakaiproject.gradebook.gwt.server.SecurityFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>gwt.security</filter-name>
		<servlet-name>sakai.gradebook.gwt.rpc</servlet-name>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	
	<!--  Sakai filter -->
    <filter>
        <filter-name>sakai.request</filter-name>
        <filter-class>org.sakaiproject.util.RequestFilter</filter-class>
         <init-param>
        	<param-name>upload.enabled</param-name>
        	<param-value>false</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>sakai.request</filter-name>
        <servlet-name>sakai.gradebook.gwt.rpc</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>

	<servlet>
		<servlet-name>sakai.gradebook.gwt.rpc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>sakai.gradebook.gwt.rpc</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>sakai.gradebook.gwt</servlet-name>
		<servlet-class>
			org.sakaiproject.gradebook.gwt.server.GradebookServlet
		</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<!-- Default page to serve -->
  	<welcome-file-list>
    	<welcome-file>GradebookApplication.html</welcome-file>
  	</welcome-file-list>

	<!-- servlet>
		<servlet-name>facade</servlet-name>
		<servlet-class>org.sakaiproject.gradebook.gwt.sakai.mock.Gradebook2ResourceProducerMock</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>facade</servlet-name>
		<url-pattern>/gradebook/rpc/grades.rpc</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>importHandler</servlet-name>
		<servlet-class>org.sakaiproject.gradebook.gwt.server.ImportHandler</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>importHandler</servlet-name>
		<url-pattern>/gradebook/importHandler</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>exportHandler</servlet-name>
		<servlet-class>org.sakaiproject.gradebook.gwt.server.ImportHandler</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>exportHandler</servlet-name>
		<url-pattern>/gradebook/exportGradebook.csv</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>finalGradeHandler</servlet-name>
		<servlet-class>org.sakaiproject.gradebook.gwt.server.FinalGradeSubmissionHandler</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>finalGradeHandler</servlet-name>
		<url-pattern>/gradebook/final-grade-submission</url-pattern>
	</servlet-mapping-->

</web-app>
